@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,700");
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html {
font-size: 1.2rem;
scroll-behavior: smooth;

color: hsla(0, 0%, 0%, 0.8);
}

body {
    font-family: "Maven Pro", sans-serif;
    padding-top: 40px;
}



#navbar {
display: flex;
justify-content:center;
width: 100%;
box-shadow: 0 2px 0 rgba (0, 0, 0, 0.4);
z-index: 1;
}

a {
text-decoration: none;
color: hsla(0, 0%, 0%, 0.8);
}



.nav-link {
display: inline;
margin-right: 2rem;
font-size: 14px;
letter-spacing: 1px;
font-weight: 550;
text-transform: uppercase;
color: rgb(49, 48, 47); 
}

.nav-link a:hover {
background: black;
color: #fff;
padding: 0 5px 0 5px;
}

nav {
list-style: none;
}


.nav-img {
width: 25px;
align-self: center;
margin-right: 20px;

}

.name {
margin-right: 100px;
font-size:14px;
align-self:center;
}